<a href="https://colab.research.google.com/github/AneFernaandes/jogo-dino-javascript-unifatecie/blob/main/APA_CIENCIA_DE_DADOS_ELIANE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#UNIFATECIE
Aluno: Eliane Patricio
Disciplina : Ciencia de Dados

Prezado (a) aluno (a),



Proponho para essa atividade prática criarmos um cadastro no Google Colaboratory ou “Colab”, é um produto do Google Research, área de pesquisas científicas do Google, é um serviço de armazenamento em nuvem gratuito hospedado pelo próprio Google voltados à criação e execução de códigos em Python.



É uma ferramenta que permite que você misture código fonte (geralmente em python) e texto (geralmente em markdown) com imagens e o resultado desse código, uma técnica conhecida como: notebook (“caderno”, em português). Vamos realizar o cadastro e aprender alguns comandos na linguagem Python para a prática.

#Vamos executar alguns comandos em Python (exercícios 1-7), utilizando o Colab.

Para isso vamos importar as bibliotecas numpy, pandas e matplotlib
1-) Exibir uma série que indique o número de alunos por titulação.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
Titulação = pd.Series(['Doutorado', 'Mestrado', 'Especialização', 'Graduação', 'Cursos Técnicos'],index=[20,15,85,145,320])
Titulação

20           Doutorado
15            Mestrado
85      Especialização
145          Graduação
320    Cursos Técnicos
dtype: object

# 2-) Exibir uma tabela que indique o número de alunos por titulação

In [ ]:
df = pd.DataFrame({'Titulação':['Doutorado', 'Mestrado', 'Especialização',
'Graduação', 'Cursos Técnicos'],'Quantidade':[20,15,85,145,320]})
df

#3-) Exibir uma tabela que indique as calorias e o percentual de gordura de cada item

In [ ]:
df = pd.DataFrame({'calorias':[200, 350, 550], 'gordura (%)':[0, 15, 35]},
index=['banana', 'macarrão', 'cachorro quente'])
df

#4-) Criar uma matriz com 50 elementos e 03 dimensões.

In [ ]:
v = np.array(range(50)).reshape(2,5,5)
print('Shape = ', v.shape)
print('Número de dimensões = ', v.ndim)
print('Número de elementos = ', v.size)
print('Tensor v = \n', v)

#5-) Criar um gráfico pizza com 03 itens destacando um item.

In [ ]:
# Definindo variáveis
fatias = [8, 12, 10]
atividades = ['Lazer', 'Estudo', 'Viagem']
colunas = ['r', 'm', 'y']
# Criando um gráfico
plt.pie(fatias, labels = atividades, colors = colunas, startangle = 90, shadow = True,
explode = (0, 0.1, 0))
plt.show()

#6-) Criar um gráfico tipo linha

In [ ]:
# Definindo variáveis
x = [1, 3, 5]
y = [1, 2, 5]
# Criando um gráfico
plt.plot(x, y)
# Atribuindo um título ao gráfico
plt.title('Exemplo utilizando Plot')
plt.xlabel('Variavel 1')
plt.ylabel('Variavel 2')
# Atribuindo uma legenda
plt.plot(x, y, label = 'Uma legenda')
plt.legend()
# Exibindo o gráfico gerado
plt.show()

#7-) Criar um gráfico com pontos em formato de estrela.

In [ ]:
# Definindo variáveis
x = [1, 2, 3, 4, 5, 6, 7, 8]
y = [5, 2, 4, 5, 6, 8, 4, 8]
# Criando um gráfico
plt.scatter(x, y, label = 'Pontos', color = 'b', marker = '*', s = 100)
plt.legend()
plt.show()